body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(245, 219, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 10%;
    height: 700px;
    width: 600px;
    background-color: darkgray;
}

.row{
    display: flex;
    justify-content: center;
    flex: 1;
    border: 1px solid blue;
}

.display-row{
    flex-grow: 1.5;
    justify-content: center;
    align-items: center;
}

.display{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
    background-color: rgb(210, 214, 214);
    border: 1px solid rgb(21, 255, 0);
    border-radius: 2%;
}

.display-top-line{
    display: flex;
    flex: 0.4;
    border: 1px solid rgb(21, 255, 0);
}

.display-bottom-line{
    display: flex;
    flex: 0.6;
    border: 1px solid rgb(255, 60, 0);
}

.button-row{
    display: flex;
    justify-content: space-around;
}

.button{
    flex: 1;
    border: 1px solid orange;
    border-radius: 20%;
    margin: 15px 20px;
    background-color: aquamarine;
}