body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(245, 219, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 10% 10% 2% 2%;
    height: 700px;
    width: 600px;
    background-color: darkgray;
}

.row{
    display: flex;
    justify-content: center;
    flex: 1;
    border: 1px solid blue;
}

.display-row{
    flex-grow: 1.6;
    justify-content: center;
    align-items: center;
}

.display{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
    background-color: rgb(210, 214, 214);
    border: 1px solid rgb(21, 255, 0);
    border-radius: 2%;
}

.display-top-line{
    display: flex;
    flex: 0.4;
    border: 1px solid rgb(21, 255, 0);
}

.display-bottom-line{
    display: flex;
    flex: 0.6;
    border: 1px solid rgb(255, 60, 0);
}

.button-row{
    display: flex;
    justify-content: space-around;
    padding: 2px 5px;
}

.button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color: rgb(3, 3, 3);
    border: 1px solid orange;
    border-radius: 10%;
    margin: 2px 2px;
    background-color: aquamarine;
}

.operator{
    background-color: rgb(110, 105, 114);
    color: rgb(241, 242, 243);
}

.function{
    background-color: rgb(86, 114, 156);
}