body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(245, 219, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 10%;
    height: 700px;
    width: 600px;
    background-color: darkgray;
}

.row{
    display: flex;
    flex: 1;
    border: 1px solid blue;
}

.display-row{
    flex-grow: 1.5;
}